{% extends 'base.html' %}
	{% block title %}
		About || WS
	{% endblock %}
{% block content %}
<div class="container-fluid mb-5">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-12">
					<div class="p-3 shadow rounded mt-5">
						<h1 class="text-center text-danger"> Our Online Shop</h1>
						<p class=" text-center p-3 text-success">
							WESTAR SMART was launched in 2021. We started selling Insulation painting, renovation, purchase, sale of all building materials phones in shops, but our combined ambition, drive and abilities soon made us look for new challenges and new markets. Starting an online shop provided for both and allowed us to develop a strong international presence in a number of EU countries.
						</p>
					</div>
				</div>
				
				<div class="col-sm-12">
					<div class="p-3 shadow rounded mt-5">
						<h1 class="text-center text-danger">Director</h1>
						<h6 class="text-center text-success ">Yasmina Saadi boulesnem</h6>
						<p class=" text-center p-3 text-success">
							Yasmina Saadi boulesnem is a very good person, his supervision is very dear to the people. His dealings with the buyer are very good. That is why the shop has a very good reputation.
						</p>
					</div>
				</div>
				
				
				<div class="col-sm-12">
					<div class="p-3 shadow mt-5 rounded">
						<h1 class="text-center text-danger">Product</h1>
						<p class=" text-center p-3 text-success">
							Isolation peinture, rénovation, achat, vente de tous matériels de bâtiment travaux publics Téléphone . informatique export import
							We sell many kinds of products. Mobile, TV, PC, Laptop, Camera, Ac, Washing Machine, Monitor, Watch, Smart Watch and many more products at very affordable prices. Many times we get discounts on many products.
						</p>
					</div>
				</div>
				
				<div class="col-sm-12">
					<div class="p-3 shadow mt-5 rounded">
						<h1 class="text-center text-danger">Earn Graph</h1>
						<div class="row text-center text-success">
							<div class="col-md-4 p-3">
								<h4> Sell </h4>
								<p> 1000+ per Month </p>
							</div>
							<div class="col-md-4 p-3">
								<h4> Earn </h4>
								<p> 30000+ per Year </p>
							</div>
							<div class="col-md-4 p-3">
								<h4> Happy Clint  </h4>
								<p> 95% per Day </p>
							</div>
						
						
						</div>
					</div>
				</div>
		
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>

{% endblock %}