{% extends 'base.html' %}
	{% block title %}
		Home || WS
	{% endblock %}
{% block content %}
<div class="container-fluid mb-5">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class=" ratio ratio-21x9">
			<div id="carouselExampleDark" class="carousel carousel-white slide" data-bs-ride="carousel">
			  <div class="carousel-indicators ">
			    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
			    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
			  </div>
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img src="/static/image/image0.jpg" class="d-block w-100" alt="...">
			      <div class="carousel-caption d-none d-md-block ">
			      	<div class="  p-3 rounded-pill  border border-3 border-white w-50 mx-auto text-white shadow">
			        	<h5 class="text-white">Insulation painting</h5>
			        	<p  class="text-white">We are provie to all type of Insulation painting.</p>
			        </div>
			      </div>
			    </div>
			    <div class="carousel-item" >
			      <img src="/static/image/imaga2.jpg" class="d-block w-100" alt="...">
			      <div class="carousel-caption d-none d-md-block">
			        <div class=" p-3 rounded-pill  border border-3 border-white w-50 mx-auto text-dark shadow">
			        	<h5 class="text-white">Renovation</h5>
			        	<p class="text-white">Whether you’re looking to increase the property value of your home ahead of a sale or closing.</p>
			        </div>
			      </div>
			    </div>
			    <div class="carousel-item">
			      <img src="/static/image/image1.jpg" class="d-block w-100" alt="...">
			      <div class="carousel-caption d-none d-md-block">
			        <div class="  p-1 rounded-pill  border border-3 border-white w-50 mx-auto text-dark">
			        	<h5 class="text-white">Expor/Iport</h5>
			        	<p class="text-white">All type of electronic product export and import, like phone, computer , laptop and building materials. </p>
			        </div>
			      </div>
			    </div>
			  </div>
			  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			  </button>
			</div>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>

<div class="container-fluid mt-5 pt-5">
	<div class="row mt-5 pt-5">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-xl-4">
					<div class=" m-1 p-5 shadow rounded h-100">
						<div> 
							<h1 class="bi bi-house fs-100 text-center  text-danger py-4 shadow rounded"></h1>
						</div>
						<div class="text-center text-success  mt-3"> <p>Whether you’re looking to increase the property value of your home ahead of a sale or closing on a house you can’t wait to make your own, chances are there’s a renovation or remodeling project in your future. </p></div>
					</div>					
				</div>
			
				<div class="col-xl-4">
					<div class=" m-1 p-5 shadow rounded h-100">
						<div> 
							<h1 class="bi bi-tv fs-100 text-center  text-danger  py-4 shadow rounded"> </h1>
						</div>
						<div class="text-center  text-success  mt-3"> <p> To buy electronic product from global wholesalers, visit our website for fancy, stylish and incredible varieties. Here you will have a chance to compare and buy.</p></div>
					</div>					
				</div>
			
				<div class="col-xl-4">
					<div class=" m-1 p-5 shadow rounded h-100">
						<div> 
							<h1 class=" bi bi-arrow-repeat fs-100 text-center text-danger  py-4 shadow rounded"></h1>
						</div>
						<div class="text-center  text-success mt-3"> <p>Export-import business, also known as international trade, involves buying and selling goods and services between countries. It is an important part of the global economy, as it allows for the exchange of goods and services between countries, promoting economic growth and development.</p></div>
					</div>					
				</div>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
	
	<div class="row mt-5">
		<div class="col-sm-1"></div>
		<div class="col-sm-10 ">
			
			<div class="row ">
			<div class="col-sm-12 text-center text-danger border-bottom border-1 border-success"> <h2> Services </h2></div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2  ">
					<div class=" shadow text-center m-2 p-3 text-info rounded-pill">
						<h3>Insulation painting</h3>
					</div>
				</div>
					
				<div class="col-lg-3 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-3 text-danger rounded-pill">
						<h3>‎Renovation</h3>
					</div>
				 </div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-3 text-success rounded-pill">
						<h3> Building materials</h3>
					</div> 
			 	</div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-3 text-primary rounded-pill">
						<h3> Telephone</h3>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2"> 
			 		<div class=" shadow text-center m-2 p-3 text-success rounded-pill">
						<h3> Computer </h3>
					</div>
			 	</div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-3 text-warning rounded-pill">
						<h3> Export/Import </h3>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-3 text-secondary rounded-pill">
						<h3>Buy </h3>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-3 text-danger rounded-pill">
						<h3>Sell </h3>
					</div>
				</div>	
			</div>
					
			</div>
			<div class="col-sm-1"></div>
	</div>
</div>

<div class="container-fluid">
	<div class="row ">
 		<div class="col-lg-1 "></div>
 		<div class="  col-lg-10">
			 
 			<div class="row1  shadow">
 			
 				<div class="col-lg-4 col-sm-6  p-5">
 					<div class="card shadow p-3 h-100 w-100 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/phone1.jpg" style="height:400px;" class="card-img-top text-success img-fluid">
					  <div class="card-body">
					    <h5 class="card-title">Model:Quad Lock Coque MAG pour iPhone 14 Pro Max </h5>
					    <p class="card-text">Color: SLIVER </p>
					    <p class="card-text">Price: 3530 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/phone2.jpg" style="height:400px;" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Model: Belkin Protection d’écran UltraGlass pour iPhone 14 Pro Max </h5>
					    <p class="card-text">Color: WHITE </p>
					    <p class="card-text">Price: 1683 &#128 </p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 p-3 w-100 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/phone3.jpg" style="height:400px;" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Samsung Galaxy S23 Black 256GB Phantom Black </h5>
					    <p class="card-text">Color: Black  </p>
					    <p class="card-text">Price: 908 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 p-3 w-100 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/phone4.jpg" style="height:400px;" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Samsung Galaxy S23 Green 128GB Green</h5>
					    <p class="card-text">Color: GRAY</p>
					    <p class="card-text">Price: 630,00 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 p-3 w-100 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/phone5.jpg" style="height:400px;" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Samsung Galaxy S23 Ultra Black 256GB Phantom B </h5>
					    <p class="card-text">Color: BLACK</p>
					    <p class="card-text">Price: 1225 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 p-3 w-100 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/phone6.jpg" style="height:400px;" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Motorola Moto Razr 40 Ultra 8+256GB Black </h5>
					    <p class="card-text">Color: Black</p>
					    <p class="card-text">Price: 944,00 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
		</div> 
		
		<div class="row2 shadow">
			
			
			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/paint1.webp" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">InsOpaint Anti Condensation Paint </h5>
				    
				    <h1 class="card-text text-danger">90.00  &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/paint2.webp" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title"> HQC Exterior Wall Insulating Paint</h5>
				    
				    <h1 class="card-text text-danger"> 40.00 &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/paint3.webp" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">TRADE – Warmtouch Metal Paint </h5>
				    
				    <h1 class="card-text text-danger">270.00  &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/paint4.webp" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">InsOfloor Floor Primer </h5>
				    
				    <h1 class="card-text text-danger">420.00 &#128</h1> 
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/paint5.webp" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">PRO Interior / Exterior Wall Coating (S-Flex) </h5>
				    
				    <h1 class="card-text text-danger">17,90 &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/paint6.webp" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">Thermalmix Buy 1 and get the next one </h5>
				    
				    <h1 class="card-text text-danger">450.00 &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
			
		</div>
		
		
		<div class="row3 shadow">
			
			
			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/reno1.jpg" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">Manuel de la rénovation </h5>
				    
				    <h1 class="card-text text-danger">29,90  &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/reno2.jpg" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title"> RE 2020 et rénovation énergétique: Guide pratique pour les bâtiments neufs et existants - Maisons et</h5>
				    
				    <h1 class="card-text text-danger"> 26,00 &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/reno3.jpg" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">Rénover sa maison - Pensez, organisez et décorez votre intérieur idéal ! </h5>
				    
				    <h1 class="card-text text-danger">29,95  &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/reno4.jpg" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">Le grand livre de la rénovation-Meubles et objets </h5>
				    
				    <h1 class="card-text text-danger">21,90 &#128</h1> 
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/reno5.jpg" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">Maison écologique : construire ou rénover ?: Les bonnes questions à se poser </h5>
				    
				    <h1 class="card-text text-danger">25,00 &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/reno6.jpg" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">Renovation 5th Edition: Completely Revised and Updated (English Edition) </h5>
				    
				    <h1 class="card-text text-danger">24,85 &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
			
		</div>
	
		
		
 		</div>
		<div class="col-lg-1"></div>               
	</div>
	
	
</div>
	


{% endblock %}