{% extends 'base.html' %}
	{% block title %}
		Services || WS
	{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="ta-c border-bottom border-2 border-secondary mt-4 mb-4 p-4 rounded">
				<h3 class="text-danger">Our Services</h3>
				<h6 class="text-wrap text-success">WESTAR SMART is an international mobile, Insulation painting, and renovation  wholesaler of hardware and software solutions in the field of GPS telecom. Our experts guarantee you the best products, prices, services and competent processing. Our mission is to have satisfied dealers, customers, suppliers and employees.
				</h6>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
	
	
	<div class="row ">
 		<div class="col-lg-1 "></div>
 		<div class="  col-lg-10">
			 
 			<div class="row1  shadow">
 			
 				<div class="col-lg-4 col-sm-6  p-5">
 					<div class="card shadow p-3 h-100 w-100 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/phone1.jpg" style="height:400px;" class="card-img-top text-success img-fluid">
					  <div class="card-body">
					    <h5 class="card-title">Model:Quad Lock Coque MAG pour iPhone 14 Pro Max </h5>
					    <p class="card-text">Color: SLIVER </p>
					    <p class="card-text">Price: 3530 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/phone2.jpg" style="height:400px;" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Model: Belkin Protection d’écran UltraGlass pour iPhone 14 Pro Max </h5>
					    <p class="card-text">Color: WHITE </p>
					    <p class="card-text">Price: 1683 &#128 </p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 p-3 w-100 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/phone3.jpg" style="height:400px;" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Samsung Galaxy S23 Black 256GB Phantom Black </h5>
					    <p class="card-text">Color: Black  </p>
					    <p class="card-text">Price: 908 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 p-3 w-100 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/phone4.jpg" style="height:400px;" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Samsung Galaxy S23 Green 128GB Green</h5>
					    <p class="card-text">Color: GRAY</p>
					    <p class="card-text">Price: 630,00 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 p-3 w-100 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/phone5.jpg" style="height:400px;" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Samsung Galaxy S23 Ultra Black 256GB Phantom B </h5>
					    <p class="card-text">Color: BLACK</p>
					    <p class="card-text">Price: 1225 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 p-3 w-100 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/phone6.jpg" style="height:400px;" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Motorola Moto Razr 40 Ultra 8+256GB Black </h5>
					    <p class="card-text">Color: Black</p>
					    <p class="card-text">Price: 944,00 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
		</div> 
		
		<div class="row2 shadow">
			
			
			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/paint1.webp" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">InsOpaint Anti Condensation Paint </h5>
				    
				    <h1 class="card-text text-danger">90.00  &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/paint2.webp" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title"> HQC Exterior Wall Insulating Paint</h5>
				    
				    <h1 class="card-text text-danger"> 40.00 &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/paint3.webp" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">TRADE – Warmtouch Metal Paint </h5>
				    
				    <h1 class="card-text text-danger">270.00  &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/paint4.webp" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">InsOfloor Floor Primer </h5>
				    
				    <h1 class="card-text text-danger">420.00 &#128</h1> 
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/paint5.webp" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">PRO Interior / Exterior Wall Coating (S-Flex) </h5>
				    
				    <h1 class="card-text text-danger">17,90 &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/paint6.webp" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">Thermalmix Buy 1 and get the next one </h5>
				    
				    <h1 class="card-text text-danger">450.00 &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
			
		</div>
		
		
		<div class="row3 shadow">
			
			
			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/reno1.jpg" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">Manuel de la rénovation </h5>
				    
				    <h1 class="card-text text-danger">29,90  &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/reno2.jpg" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title"> RE 2020 et rénovation énergétique: Guide pratique pour les bâtiments neufs et existants - Maisons et</h5>
				    
				    <h1 class="card-text text-danger"> 26,00 &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/reno3.jpg" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">Rénover sa maison - Pensez, organisez et décorez votre intérieur idéal ! </h5>
				    
				    <h1 class="card-text text-danger">29,95  &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/reno4.jpg" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">Le grand livre de la rénovation-Meubles et objets </h5>
				    
				    <h1 class="card-text text-danger">21,90 &#128</h1> 
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/reno5.jpg" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">Maison écologique : construire ou rénover ?: Les bonnes questions à se poser </h5>
				    
				    <h1 class="card-text text-danger">25,00 &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
 			
 			<div class="col-lg-4 col-sm-6 p-5 ">
				<div class="card shadow h-100 w-100 p-3 border border-1 border-secondary rounded align-items-center" style="width: 18rem;">
				  <img src="/static/image/reno6.jpg" style="height:400px;" class="card-img-top text-success">
				  <div class="card-body">
				    <h5 class="card-title">Renovation 5th Edition: Completely Revised and Updated (English Edition) </h5>
				    
				    <h1 class="card-text text-danger">24,85 &#128</h1>
				    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
				    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
				  </div>
				</div>
 			</div>
			
		</div>
	
		
		
 		</div>
		<div class="col-lg-1"></div>               
	</div>
	
	
</div>

{% endblock %}